In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\chetana\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\chetana\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chetana\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\chetana\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\chetana\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
sbi= pd.read_csv("C:/Users/Chetana/AnacondaPgm/Data Files/SBIN.NS.csv") #reading csv file

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [5]:
sbi

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0
...,...,...,...,...,...,...,...
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0

In [6]:
sbi.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0

In [7]:
sbi.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0
5,2020-05-05,181.000000,181.250000,168.800003,170.399994,170.399994,91050439.0
6,2020-05-06,171.149994,173.300003,166.550003,171.100006,171.100006,73156432.0
7,2020-05-07,170.850006,172.550003,168.800003,170.750000,170.750000,42942399.0
8,2020-05-08,172.449997,173.800003,166.100006,166.649994,166.649994,55932236.0
9,2020-05-11,167.949997,168.899994,165.000000,165.449997,165.449997,54591827.0

In [8]:
sbi.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0

In [9]:
sbi.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
239,2021-04-08,361.000000,363.299988,354.299988,355.600006,355.600006,33370259.0
240,2021-04-09,354.399994,364.500000,351.200012,353.000000,353.000000,46473100.0
241,2021-04-12,344.000000,344.000000,322.549988,328.850006,328.850006,75501713.0
242,2021-04-13,332.000000,342.250000,330.500000,341.000000,341.000000,49773360.0
243,2021-04-15,342.100006,347.549988,336.100006,342.700012,342.700012,52992349.0
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0

In [10]:
sbi.dtypes  #Date is detected as form of string and recognised as an object

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [11]:
sbi['Date']= pd.to_datetime(sbi['Date']) #to convert Date column in datetime64 format

In [12]:
sbi.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
dtype: object

In [13]:
sbi['Date'].dtypes #To check datatype of a particular column (<M8[ns] is shortform of Datetime64[ns])

dtype('<M8[ns]')

In [16]:
sbi['Name']= 'SBIN' #Creating a column Name and storing SBIN in the entire column

In [17]:
sbi.dtypes  #It will store the string value as Object

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
Name                 object
dtype: object

In [18]:
sbi

,Date,Open,High,Low,Close,Adj Close,Volume,Name
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0,SBIN
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0,SBIN
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0,SBIN
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0,SBIN
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0,SBIN
...,...,...,...,...,...,...,...,...
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0,SBIN
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0,SBIN
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0,SBIN
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0,SBIN
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0,SBIN

In [19]:
sbi['Name'].dtypes #to check datatype of column Name which is object and is shown as 'O'

dtype('O')

# Dataframe Attributes

In [26]:
sbi= pd.read_csv("C:/Users/Chetana/AnacondaPgm/Data Files/SBIN.NS.csv") #reading csv file

In [28]:
sbi.axes #Start index value =0 and end value=249

[RangeIndex(start=0, stop=249, step=1),
 Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

In [29]:
sbi.columns    # Will display column names

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [30]:
sbi.ndim      # Will display the dimnsion of dataframe

2

In [31]:
sbi.size   # Will display total number of elements in a dataframe

1743

In [27]:
sbi.shape  # Will display number of rows and columns (row,col)

(249, 7)

In [32]:
sbi.values  # Will display values in the dataframe in array format

array([['2020-04-27', 183.5, 183.5, ..., 180.899994, 180.899994,
        42996571.0],
       ['2020-04-28', 182.0, 185.350006, ..., 184.300003, 184.300003,
        49590230.0],
       ['2020-04-29', 185.0, 191.800003, ..., 190.100006, 190.100006,
        57470466.0],
       ...,
       ['2021-04-20', 335.100006, 339.899994, ..., 329.5, 329.5,
        41296147.0],
       ['2021-04-22', 326.0, 337.649994, ..., 336.649994, 336.649994,
        49105833.0],
       ['2021-04-23', 331.649994, 339.899994, ..., 336.450012,
        336.450012, 44223940.0]], dtype=object)

In [33]:
sbi.dtypes #type of cols in dataframe

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

# Dataframe Methods

In [34]:
sbi.head(10) # Will return first 10 rows

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0
5,2020-05-05,181.000000,181.250000,168.800003,170.399994,170.399994,91050439.0
6,2020-05-06,171.149994,173.300003,166.550003,171.100006,171.100006,73156432.0
7,2020-05-07,170.850006,172.550003,168.800003,170.750000,170.750000,42942399.0
8,2020-05-08,172.449997,173.800003,166.100006,166.649994,166.649994,55932236.0
9,2020-05-11,167.949997,168.899994,165.000000,165.449997,165.449997,54591827.0

In [35]:
sbi.tail(10) #Will return last 10 rows

,Date,Open,High,Low,Close,Adj Close,Volume
239,2021-04-08,361.000000,363.299988,354.299988,355.600006,355.600006,33370259.0
240,2021-04-09,354.399994,364.500000,351.200012,353.000000,353.000000,46473100.0
241,2021-04-12,344.000000,344.000000,322.549988,328.850006,328.850006,75501713.0
242,2021-04-13,332.000000,342.250000,330.500000,341.000000,341.000000,49773360.0
243,2021-04-15,342.100006,347.549988,336.100006,342.700012,342.700012,52992349.0
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0

In [37]:
sbi.describe()  #Generate descriptive statistics

,Open,High,Low,Close,Adj Close,Volume
count,248.000000,248.000000,248.000000,248.000000,248.000000,2.480000e+02
mean,247.470766,251.548589,243.050202,247.221170,247.221170,5.908361e+07
std,76.687547,77.838486,75.285928,76.498447,76.498447,2.803160e+07
min,151.949997,153.199997,149.449997,150.850006,150.850006,2.267740e+07
25%,189.350006,192.250004,186.124996,188.737499,188.737499,4.117557e+07
50%,205.699997,208.474998,202.125000,205.675003,205.675003,5.247001e+07
75%,291.450004,299.125000,285.650009,292.987503,292.987503,7.002243e+07
max,425.049988,427.700012,413.700012,415.200012,415.200012,2.149557e+08

In [38]:
sbi.max() #Returns max value of each column

Date          2021-04-23
Open              425.05
High               427.7
Low                413.7
Close              415.2
Adj Close          415.2
Volume       2.14956e+08
dtype: object

In [39]:
sbi.min() #Returns min value of each column

Date          2020-04-27
Open              151.95
High               153.2
Low               149.45
Close             150.85
Adj Close         150.85
Volume       2.26774e+07
dtype: object

In [41]:
sbi.sample(5) #Returns a random sample of dataframe in this case any 5 rows from the dataframe

,Date,Open,High,Low,Close,Adj Close,Volume
101,2020-09-17,197.000000,198.000000,195.000000,195.449997,195.449997,41223296.0
155,2020-12-04,257.000000,264.350006,253.550003,263.500000,263.500000,79252024.0
44,2020-06-30,181.100006,182.899994,177.250000,178.449997,178.449997,43613239.0
196,2021-02-03,333.750000,339.899994,325.799988,335.950012,335.950012,66420168.0
203,2021-02-12,391.000000,399.350006,385.549988,393.149994,393.149994,53589755.0

In [44]:
sbi.sample() #Returns a random row from dataframe

           Date   Open   High         Low       Close   Adj Close      Volume
232  2021-03-26  360.0  362.0  354.549988  357.200012  357.200012  40718848.0

In [45]:
sbi.mean()  # Returns mean of dataframe

Open         2.474708e+02
High         2.515486e+02
Low          2.430502e+02
Close        2.472212e+02
Adj Close    2.472212e+02
Volume       5.908361e+07
dtype: float64

In [46]:
sbi.median() # Returns median of dataframe

Open         2.057000e+02
High         2.084750e+02
Low          2.021250e+02
Close        2.056750e+02
Adj Close    2.056750e+02
Volume       5.247001e+07
dtype: float64

In [47]:
sbi.std() #Returns standard deviations of each column

Open         7.668755e+01
High         7.783849e+01
Low          7.528593e+01
Close        7.649845e+01
Adj Close    7.649845e+01
Volume       2.803160e+07
dtype: float64

In [48]:
sbi.dropna() #Will drop all the records from dataframe with missing values in this case one row is dropped

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-27,183.500000,183.500000,180.500000,180.899994,180.899994,42996571.0
1,2020-04-28,182.000000,185.350006,181.199997,184.300003,184.300003,49590230.0
2,2020-04-29,185.000000,191.800003,183.500000,190.100006,190.100006,57470466.0
3,2020-04-30,193.500000,195.899994,189.699997,190.500000,190.500000,63063889.0
4,2020-05-04,182.449997,183.500000,178.000000,178.850006,178.850006,58118177.0
...,...,...,...,...,...,...,...
244,2021-04-16,343.000000,345.500000,338.649994,339.899994,339.899994,37766793.0
245,2021-04-19,327.149994,332.049988,321.299988,331.149994,331.149994,53304377.0
246,2021-04-20,335.100006,339.899994,326.700012,329.500000,329.500000,41296147.0
247,2021-04-22,326.000000,337.649994,323.299988,336.649994,336.649994,49105833.0
248,2021-04-23,331.649994,339.899994,331.649994,336.450012,336.450012,44223940.0

In [50]:
sbi.head(50).mean()   # Mean of first 50 rows of data set

Open         1.753530e+02
High         1.784690e+02
Low          1.717330e+02
Close        1.747610e+02
Adj Close    1.747610e+02
Volume       7.077281e+07
dtype: float64

In [51]:
sbi.tail(50).mean() # Mean of last 50 records of dataset

Open         3.767830e+02
High         3.817720e+02
Low          3.694750e+02
Close        3.749090e+02
Adj Close    3.749090e+02
Volume       4.779731e+07
dtype: float64

In [52]:
sbi['Open'].mean() # Mean of Open column

247.47076631048387

In [53]:
sbi['Open'].tail(50).mean() #Mean of last 50 records of Open column

376.7830016799999

# Sorting Dataframe

In [54]:
sbi.sort_values('Close') #Sorting values of Close column

,Date,Open,High,Low,Close,Adj Close,Volume
18,2020-05-22,152.000000,155.600006,149.449997,150.850006,150.850006,87064198.0
19,2020-05-26,152.399994,153.199997,150.199997,151.399994,151.399994,48275988.0
17,2020-05-21,153.649994,156.149994,151.500000,151.949997,151.949997,61147471.0
15,2020-05-19,157.500000,157.850006,152.399994,152.800003,152.800003,71522334.0
16,2020-05-20,153.000000,155.250000,151.149994,153.399994,153.399994,66168767.0
...,...,...,...,...,...,...,...
204,2021-02-15,397.500000,409.450012,395.700012,406.950012,406.950012,56608937.0
212,2021-02-25,411.000000,414.899994,406.549988,407.250000,407.250000,46988836.0
206,2021-02-17,403.000000,414.850006,400.149994,411.750000,411.750000,74161370.0
207,2021-02-18,425.049988,427.700012,413.700012,415.200012,415.200012,67154539.0
142,2020-11-14,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
sbi.sort_values('Close',ascending= False) #Will sort in descending order

,Date,Open,High,Low,Close,Adj Close,Volume
207,2021-02-18,425.049988,427.700012,413.700012,415.200012,415.200012,67154539.0
206,2021-02-17,403.000000,414.850006,400.149994,411.750000,411.750000,74161370.0
212,2021-02-25,411.000000,414.899994,406.549988,407.250000,407.250000,46988836.0
204,2021-02-15,397.500000,409.450012,395.700012,406.950012,406.950012,56608937.0
211,2021-02-24,397.000000,410.500000,395.200012,406.250000,406.250000,39632090.0
...,...,...,...,...,...,...,...
15,2020-05-19,157.500000,157.850006,152.399994,152.800003,152.800003,71522334.0
17,2020-05-21,153.649994,156.149994,151.500000,151.949997,151.949997,61147471.0
19,2020-05-26,152.399994,153.199997,150.199997,151.399994,151.399994,48275988.0
18,2020-05-22,152.000000,155.600006,149.449997,150.850006,150.850006,87064198.0
142,2020-11-14,NaN,NaN,NaN,NaN,NaN,NaN

# Slicing in Dataframe

In [59]:
sbi.iloc[:,[1,3]] # Displays column with 1st and 3rd index

           Open         Low
0    183.500000  180.500000
1    182.000000  181.199997
2    185.000000  183.500000
3    193.500000  189.699997
4    182.449997  178.000000
..          ...         ...
244  343.000000  338.649994
245  327.149994  321.299988
246  335.100006  326.700012
247  326.000000  323.299988
248  331.649994  331.649994

[249 rows x 2 columns]

In [61]:
sbi.iloc[:,1] # Displays column with index 1

0      183.500000
1      182.000000
2      185.000000
3      193.500000
4      182.449997
          ...
244    343.000000
245    327.149994
246    335.100006
247    326.000000
248    331.649994
Name: Open, Length: 249, dtype: float64

In [63]:
sbi.iloc[:,1:4] # Displays column from 1st to 3rd index will not display 4th col according to pythonic way

           Open        High         Low
0    183.500000  183.500000  180.500000
1    182.000000  185.350006  181.199997
2    185.000000  191.800003  183.500000
3    193.500000  195.899994  189.699997
4    182.449997  183.500000  178.000000
..          ...         ...         ...
244  343.000000  345.500000  338.649994
245  327.149994  332.049988  321.299988
246  335.100006  339.899994  326.700012
247  326.000000  337.649994  323.299988
248  331.649994  339.899994  331.649994

[249 rows x 3 columns]

In [64]:
import os
os.getcwd() # Will display the location where jupyter notebook is saved

'C:\\Users\\Chetana\\AnacondaPgm'